@charset "UTF-8";
header {
  background-color: #462521;
  padding: 5px;
  text-align: center;
  color: #fae3c2;
}
header h1 {
  color: #fae3c2;
  font-size: 48px;
  font-family: "Brush Script MT", cursive;
}

body {
  margin-bottom: 50px;
  font-style: unset;
}

main {
  padding: 5px 60px;
  margin-bottom: 5px;
}

footer {
  background-color: #462521;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: #fae3c2;
  justify-content: center;
}
footer a:hover {
  color: #fae3c2;
}

nav {
  display: flex;
  padding: 2px 0;
}
nav a {
  text-decoration: none;
  padding: 6px 12px;
  color: #CA2E55;
}
nav a:hover {
  background-color: #462521;
  color: #fae3c2;
  border-radius: 5px;
}
nav a:active {
  background-color: #CA2E55;
  color: #fae3c2;
}

h1, h2, h3 {
  text-transform: capitalize;
  color: #CA2E55;
}

a {
  color: #CA2E55;
  text-decoration: none;
}
a:hover {
  color: #6d1f32;
}

h2 {
  margin: 2px 2px;
}

.box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  place-self: center stretch;
}

.nested {
  border-radius: 5px;
  place-self: center stretch;
}
.nested li, .nested h5 {
  font-size: 16px;
  color: #CA2E55;
}
.nested img {
  width: 100%;
  height: 200px;
  border-radius: 40px 10px;
}
.nested .description {
  font-style: oblique;
}

.button-section {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px 10px 0 0;
  transition: opacity 0.3s ease-in-out;
}
.card img:hover {
  opacity: 0.9;
}
.card .card-content {
  padding: 20px;
}
.card .item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .description {
  color: #666;
  margin-bottom: 10px;
}
.card .price {
  font-size: 18px;
  color: #CA2E55;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #462521;
  border: none;
  color: #fae3c2;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  height: 20px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transform: rotate(-90deg);
  transition: 0.5s;
}
.button:hover span {
  padding-left: 25px;
}
.button:hover span:after {
  opacity: 1;
  left: 0;
}

.button-secondary {
  background-color: #e74c3c;
  margin-left: 10px;
}

.button-third {
  background-color: #e74c3c;
  margin-left: 10px;
  width: 40px;
}

.my_wrapper {
  max-width: 90%;
  margin: 10px auto 10px auto;
  padding-top: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .my_wrapper {
    max-width: 100%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

header {
  background-color: #462521;
  padding: 5px;
  text-align: center;
  color: #fae3c2;
}
header h1 {
  color: #fae3c2;
  font-size: 48px;
  font-family: "Brush Script MT", cursive;
}

body {
  margin-bottom: 50px;
  font-style: unset;
}

main {
  padding: 5px 60px;
  margin-bottom: 5px;
}

footer {
  background-color: #462521;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: #fae3c2;
  justify-content: center;
}
footer a:hover {
  color: #fae3c2;
}

nav {
  display: flex;
  padding: 2px 0;
}
nav a {
  text-decoration: none;
  padding: 6px 12px;
  color: #CA2E55;
}
nav a:hover {
  background-color: #462521;
  color: #fae3c2;
  border-radius: 5px;
}
nav a:active {
  background-color: #CA2E55;
  color: #fae3c2;
}

h1, h2, h3 {
  text-transform: capitalize;
  color: #CA2E55;
}

a {
  color: #CA2E55;
  text-decoration: none;
}
a:hover {
  color: #6d1f32;
}

h2 {
  margin: 2px 2px;
}

.box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  place-self: center stretch;
}

.nested {
  border-radius: 5px;
  place-self: center stretch;
}
.nested li, .nested h5 {
  font-size: 16px;
  color: #CA2E55;
}
.nested img {
  width: 100%;
  height: 200px;
  border-radius: 40px 10px;
}
.nested .description {
  font-style: oblique;
}

.button-section {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px 10px 0 0;
  transition: opacity 0.3s ease-in-out;
}
.card img:hover {
  opacity: 0.9;
}
.card .card-content {
  padding: 20px;
}
.card .item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .description {
  color: #666;
  margin-bottom: 10px;
}
.card .price {
  font-size: 18px;
  color: #CA2E55;
}

.order-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container {
  width: 100%;
}

.form {
  padding: 20px 20px;
  background-color: #fae3c2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.form-title h2 {
  font-size: 38px;
}

.form-group {
  margin-bottom: 20px;
}

.delivery-options {
  display: flex;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
}

.delivery,
.pickup {
  height: 40px;
  margin-right: 10px;
}

select {
  width: inherit;
  height: 40px;
  border-radius: 5%;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 5px;
}

textarea {
  width: 90%;
}

input {
  width: 90%;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #462521;
  border: none;
  color: #fae3c2;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  height: 20px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
  width: 150px;
}
.button-secondary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-secondary span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transform: rotate(-90deg);
  transition: 0.5s;
}
.button-secondary:hover span {
  padding-left: 25px;
}
.button-secondary:hover span:after {
  opacity: 1;
  left: 0;
}

.button-third {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #462521;
  border: none;
  color: #fae3c2;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  height: 20px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}
.button-third span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-third span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transform: rotate(-90deg);
  transition: 0.5s;
}
.button-third:hover span {
  padding-left: 25px;
}
.button-third:hover span:after {
  opacity: 1;
  left: 0;
}
.button-third:after {
  right: -20px !important;
}
.button-third:hover span:after {
  right: 0 !important;
}

.form-button {
  justify-content: center;
  display: flex;
}

/*# sourceMappingURL=order.css.map */
